@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 235 21% 11%;
    --card: 0 0% 100%;
    --card-foreground: 235 21% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 235 21% 11%;
    --primary: 235 62% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 235 21% 11%;
    --muted: 0 0% 93%;
    --muted-foreground: 235 10% 45%;
    --accent: 0 0% 74.1%;
    --accent-foreground: 235 21% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 235 62% 30%;
    --chart-1: 235 62% 30%;
    --chart-2: 235 40% 50%;
    --chart-3: 235 30% 65%;
    --chart-4: 45 29% 63%;
    --chart-5: 45 20% 75%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 21% 11%;
    --foreground: 0 0% 98%;
    --card: 235 21% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 235 21% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 235 62% 30%;
    --secondary: 235 21% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 235 21% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 235 21% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 21% 18%;
    --input: 235 21% 18%;
    --ring: 0 0% 83.1%;
    --chart-1: 0 0% 98%;
    --chart-2: 0 0% 70%;
    --chart-3: 0 0% 50%;
    --chart-4: 45 29% 63%;
    --chart-5: 45 20% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
